@import 'variables';

* {
  font-family: $font-family;
}

:global(body) {
  margin: 0px !important;
  padding: 0;

  background-color: $background-primary;
}

h1 {
  font-size: $font-size-extreme;
  line-height: 1.1;
  color: $font-primary;
}

h2 {
  font-size: $font-size-large;
  line-height: 1.2;
  color: $font-primary;
}

p {
  font-size: $font-size-medium;
  line-height: 1.5;
  color: $font-secondary;
}

a {
  text-decoration: none;
}

.button {
  padding: $padding-medium $padding-large;
  border-radius: $border-radius-medium;
  background-color: $secondary;
  color: $font-primary;
  cursor: pointer;
  transition: all $transition-duration ease-in-out;

  &:hover {
    background-color: darken($secondary, 10%);
  }
}

.button-primary {
  background-color: $primary;
  color: $font-primary;

  &:hover {
    background-color: darken($primary, 10%);
  }
}

.content-wrapper {
  width: 100%;

  display: flex;
  justify-content: center;
}

.content {
  width: 80%;
  max-width: $max-content-width;

  padding-left: $padding-large;
  padding-right: $padding-large;

  background-color: $background-secondary;
}