@import 'src/assets/scss/variables';
@import 'src/assets/scss/base';

.content-wrapper {
    display: grid;
    place-items: center;

    .content {
        display: grid;
        place-items: center;
        gap: $gap-extreme;

        padding: $padding-extreme;

        background-color: $background-secondary;

        h2 {
            text-align: center;
        }
    }
}