@font-face {
  font-family: 'Geologica';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Geologica-Regular.ttf') format('truetype');
}

// https://flatuicolors.com/palette/cn
$yellow: #eccc68;
$orange: #ffa502;
$coral: #ff7f50;
$coral-dark: #ff6348;
$red: #ff6b81;
$red-dark: #ff4757;
$green: #7bed9f;
$green-dark: #2ed573;
$blue: #70a1ff;
$blue-dark: #1e90ff;
$purple: #5352ed;
$purple-dark: #3742fa;

$white: #ffffff;
$grey-1: #f1f2f6;
$grey-2: #dfe4ea;
$grey-3: #dfe4ea;
$grey-4: #ced6e0;
$grey-5: #a4b0be;
$grey-6: #747d8c;
$grey-7: #57606f;
$grey-8: #2f3542;
$grey-9: #202327;
$grey-10: #121212;
$black: #000000;

$primary: $blue;
$primary-dark: $blue-dark;
$secondary: $grey-5;
$secondary-dark: $grey-6;
$success: $green;
$warning: $yellow;
$error: $red;

$font-family: 'Geologica', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';

$font-primary: $grey-1;
$font-secondary: $grey-2;
$font-tertiary: $grey-5;
$font-primary-dark: black;
$font-secondary-dark: $grey-9;
$font-tertiary-dark: $grey-8;

$background-primary: $grey-9;
$background-secondary: $grey-10;
$background-tertiary: $grey-8;

$border-primary: $grey-2;
$border-secondary: $grey-3;
$border-tertiary: $grey-4;

$font-size-extreme: 5rem;
$font-size-large: 3rem;
$font-size-medium: 1.5rem;
$font-size-small: 0.8rem;
  
$border-radius-extreme: 2.5rem;
$border-radius-large: 1.5rem;
$border-radius-medium: 1rem;
$border-radius-small: 0.5rem;

$padding-extreme: 2.5rem;
$padding-large: 1.5rem;
$padding-medium: 1rem;
$padding-small: 0.5rem;

$margin-extreme: 2.5rem;
$margin-large: 1.5rem;
$margin-medium: 1rem;
$margin-small: 0.5rem;

$gap-extreme: 2.5rem;
$gap-large: 1.5rem;
$gap-medium: 1rem;
$gap-small: 0.5rem;

$transition-duration: 0.2s;

$max-content-width: 1200px;
$max-content-width-percentage: 80%;

$box-shadow-extreme: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.3);
$box-shadow-large: 0.1rem 0.1rem 0.9rem rgba(0, 0, 0, 0.2);
$box-shadow-medium: 0.1rem 0.1rem 0.8rem rgba(0, 0, 0, 0.1);
$box-shadow-small: 0.1rem 0.1rem 0.7rem rgba(0, 0, 0, 0.1);

$breakpoint-extreme: 2000px;
$breakpoint-large: 1200px;
$breakpoint-desktop: 900px;
$breakpoint-mobile: 700px;